node_modules
.env
# Ignorar archivos generados por el bot
qr.png
base-baileys-mysql/bot_sessions/
*.json
*.log
node_modules/
.env
# Ignorar la carpeta base-baileys-mysql y sus archivos
base-baileys-mysql/
